* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  height: 100dvh;  
}

#fcc_test_suite_wrapper {
  color-scheme: light;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15vw;
  height: 20%;
  overflow: hidden;
  text-align: center;
  font-size: 1.2vh;
  font-size: 1.2dvh;
}

main {
  height: 70%;
}
svg {
  width: 100%; 
  height: 100%; 
}
.county {
  stroke: green;
  stroke-width: 0.25px;
}

#tooltip {
  font-size: 1.75vh;
  font-size: 1.75dvh;
  text-align: center;
}
.nobr {
  white-space: nowrap;
}

footer {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  width: 20%;
  height: 60%;
  font-weight: 600;
  font-size: 1.75vh;
  border: 0.1vh solid;
}
#info-a {
  visibility: hidden;
  position: absolute;
  top: 20%;
  width: 90%;
  left: 5%;
  padding: 2vh;
}
@media (prefers-color-scheme: dark) {
  #info-a {
    background: black;
  }
}
@media (prefers-color-scheme: light) {
  #info-a {
    background: white;
  }
}
.visible#info-a  {
  visibility: visible;
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}